/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
}

@font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
}

/* UNIVERSAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.navigationBar{
    background-color: #FBECA1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 380px;
    height: 60px;
    width: 100%;
    position: fixed;
}

.navigationLogo img{
    height: 70px;
}

nav{
    width: 650px;
}

.userAccountNavigationSection img{
    height: 40px;
}

.navigationContents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    list-style: none;
}

.navigationContents li, a{
    text-decoration: none;
    font-family: Back;
    color: #FF9FC2;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    transition: 0.2s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationContents li, a:hover{
    font-size: 25px; 
}

/* BANNER */
.bannerSection img{
    margin-top: 60px;
    height: 92%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.bannerLogo img{
    position: relative;
    height: 600px;
    width: 600px;
}

.bannerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    animation-name: zoomIn;
    animation-duration: 1.5s;
}

@keyframes zoomIn{
    from{
        opacity: 0;
        transform: scale3d(0.3,0.3,0.3)
    }
    50%{
        opacity: 1;
    }
}

/* STARS */

.starsBanner{
    height: 92%;
    width: 100%;
    z-index: 1;
    position: relative;
}

.starsBanner span{
    position: fixed;
    animation: animate 2s linear infinite;
}

.starsBanner span i{
    color:#FF69A0;
    font-size: 12px;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}