
/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
}

@font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
}

body{
  background: linear-gradient(#fff7c6 21%, #ffc0cb 83%);
  height: 300vh;
}
/* UNIVERSAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.navigationBar{
    background-color: #FBECA1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 600px;
    height: 60px;
    width: 100%;
}

.activeNav{
    color: #FF69A0;
}

.navigationLogo img{
    height: 70px;
}

nav{
    position: sticky;
    top:0;
    z-index: 10000;
}

.userAccountNavigationSection img{
    height: 40px;
}

.navigationContents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    width:300px;
}

.navigationContents a{
    width: 150px;
}

.navigationContents li, a{
    text-decoration: none;
    font-family: Back;
    color: #FF9FC2;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    transition: 0.2s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationContents li, a:hover{
    font-size: 25px; 
    color: #FF4287;
}

.Banner-Wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

  }
  
  .bannerSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .bannerBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .starsBanner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none; /* Allows clicks to pass through */
  }
  
  .starsBanner span {
    position: absolute;
    animation: animate 2s linear infinite;
  }
  
  .starsBanner span i {
    color: #FF69A0;
    font-size: 12px;
  }
  
  .bannerLogo {
    width: 650px;
    margin-top: -50px;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomIn 1.5s;
    background-color: transparent;
  }
  
  .bannerLogo img {
    width: 100%;
    height: auto;
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3) translate(-50%, -50%);
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  
  @keyframes animate {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /* for dynamic product description */
  .Product-Description-Main-Wrapper{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
.Description-Wrap{
/* border: 2px solid blue; */
  width: 60%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
  .Product-Description{
    position: relative;
    width: 60%;
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .Description{
    position: absolute;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);

  }
  .Description.active{
    opacity: 1;
    position: relative;
    animation: slideRight 0.7s forwards ease;
  }

  
  @keyframes slideRight {
    0% {
      transform: translateX(-15%);
      opacity: 0;
    }
    75%{
      opacity:0.75;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .arrow{
    font-size:  2rem;
    background: none;
    border: none;
    border-radius: 100px;
    padding: 0px 15px;
    cursor: pointer;
    margin: 0;
    transition: all ease-out 0.2s;
    border: 1px solid black;
  }
  .arrow:hover{
    background-color: #fcf950;
    transform: scale(1.2);
  }
  .arrow:active{
    transform: scale(0.95);
  }
  .Product-1{
    width: 100%;
    height: 100%;
    background-color: #FFC773;
    border: 5px solid black;
  }
  .Product-2{
    width: 100%;
    height: 100%;
    background-color: #FFF4BD;
    border: 5px solid black;
  }
  .Product-3{
    width: 100%;
    height: 100%;
    background-color: #D3815F;
    border: 5px solid black;
  }


  /* Mascots */
  .Mascot-Wrap{
    position: relative;
    /* border: 2px solid purple; */
    width:40%;
    height: 70%;
    display: flex;
    align-items: center;
  }

  .Product-Mascots{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    overflow:hidden;
  }

  .Mascot {
    position: absolute;
    transition: 
      top 0.5s ease, 
      left 0.5s ease, 
      width 0.5s ease, 
      height 0.5s ease;
  }  

  .Mascot[data-index="1"] {
    width: 400px;
    height: 400px;
    top: 20%;
    left: 5%;
    z-index: 3;
  }
  
  .Mascot[data-index="2"] {
    width: 200px;
    height: 200px;
    top: 10px;
    left: 450px;
    z-index: 2;
    filter:grayscale(100%) contrast(100%) blur(2px) brightness(0.6);
  }
  
  .Mascot[data-index="3"] {
    width: 200px;
    height: 200px;
    top: 420px;
    left: 450px;
    z-index: 1;
    filter:grayscale(100%) contrast(100%) blur(2px) brightness(0.6);
  }
  .Cookie{
    background-color: #FFC773;
    border: 10px solid black;
    border-radius: 50px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  .Pastillas{
    background-color:#FFF4BD ;
    border: 10px solid black;
    border-radius: 50px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;

  }
  .Graham{
    background-color:#D3815F ;
    border: 10px solid black;
    border-radius: 50px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;

  }

  .Cookie img{
    border-radius: 50px;
  }
  .Pastillas img{
    border-radius: 50px;
  }
  .Graham img{
    border-radius: 50px;
  }
  



