/* FONTS */
@font-face {
    font-family: Back;
    src: url(fonts/Backso.ttf);
}

@font-face {
    font-family: Candy;
    src: url(fonts/CandyBeans.ttf);
}

/* UNIVERSAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.navigationBar{
    background-color: #FBECA1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 380px;
    height: 60px;
    width: 100%;
    position: fixed;
}

.navigationLogo img{
    height: 70px;
}

nav{
    width: 650px;
}

.userAccountNavigationSection img{
    height: 40px;
}

.navigationContents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    list-style: none;
}

.navigationContents li, a{
    text-decoration: none;
    font-family: Back;
    color: #FF9FC2;
    font-size: 20px;
    text-shadow: rgb(46, 34, 47) 2px 0px 0px, rgb(46, 34, 47) 1.75517px 0.958851px 0px, rgb(46, 34, 47) 1.0806px 1.68294px 0px, rgb(46, 34, 47) 0.141474px 1.99499px 0px, rgb(46, 34, 47) -0.832294px 1.81859px 0px, rgb(46, 34, 47) -1.60229px 1.19694px 0px, rgb(46, 34, 47) -1.97998px 0.28224px 0px, rgb(46, 34, 47) -1.87291px -0.701566px 0px, rgb(46, 34, 47) -1.30729px -1.5136px 0px, rgb(46, 34, 47) -0.421592px -1.95506px 0px, rgb(46, 34, 47) 0.567324px -1.91785px 0px, rgb(46, 34, 47) 1.41734px -1.41108px 0px, rgb(46, 34, 47) 1.92034px -0.558831px 0px;
    transition: 0.2s;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationContents li, a:hover{
    font-size: 25px; 
}

/* BANNER */
.bannerSection img{
    margin-top: 60px;
    height: 92%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.bannerLogo img{
    position: relative;
    height: 600px;
    width: 600px;
}

.bannerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    animation-name: zoomIn;
    animation-duration: 1.5s;
}

@keyframes zoomIn{
    from{
        opacity: 0;
        transform: scale3d(0.3,0.3,0.3)
    }
    50%{
        opacity: 1;
    }
}

/* STARS */
.starsBanner{
    height: 92%;
    width: 100%;
    z-index: 1;
}

.starsBanner span{
    position: fixed;
    animation: animate 2s linear infinite;
}

.starsBanner span i{
    color:#FF69A0;
    font-size: 25px;
}

.starsBanner span:nth-child(1){
    left: 3%;
    animation-delay: 0.6s;
    top: 48%;
}

.starsBanner span:nth-child(2){
    left: 6%;
    animation-delay: 2s;
    top: 62%;
}

.starsBanner span:nth-child(3){
    left: 9%;
    animation-delay: 5s;
    top: 35%;
}

.starsBanner span:nth-child(4){
    left: 12%;
    animation-delay: 4s;
    top: 25%;
}

.starsBanner span:nth-child(5){
    left: 12%;
    animation-delay: 0.2s;
    top: 70%;
}

.starsBanner span:nth-child(6){
    left: 15%;
    animation-delay: 0.5s;
    top: 45%;
}

.starsBanner span:nth-child(7){
    left: 18%;
    animation-delay: 5s;
    top: 30%;
}

.starsBanner span:nth-child(8){
    left: 18%;
    animation-delay: 5s;
    top: 69%;
}



.starsBanner span:nth-child(11){
    left: 33%;
    animation-delay: 0.6s;
    top: 23%;
}

.starsBanner span:nth-child(12){
    left: 36%;
    animation-delay: 2s;
    top: 80%;
}

.starsBanner span:nth-child(13){
    left: 39%;
    animation-delay: 5s;
    top: 17%;
}

.starsBanner span:nth-child(14){
    left: 42%;
    animation-delay: 4s;
    top: 75%;
}

.starsBanner span:nth-child(15){
    left: 45%;
    animation-delay: 0.5s;
    top: 13%;
}

.starsBanner span:nth-child(16){
    left: 48%;
    animation-delay: 5s;
    top: 80%;
}

.starsBanner span:nth-child(17){
    left: 51%;
    animation-delay: 6s;
    top: 65%;
}

.starsBanner span:nth-child(18){
    left: 54%;
    animation-delay: 3.5s;
    top: 12%;
}

.starsBanner span:nth-child(19){
    left: 57%;
    animation-delay: 9s;
    top: 75%;
}

.starsBanner span:nth-child(20){
    left: 60%;
    animation-delay: 3s;
    top: 14%;
}
.starsBanner span:nth-child(21){
    left: 63%;
    animation-delay: 0.6s;
    top: 5%;
}

.starsBanner span:nth-child(22){
    left: 66%;
    animation-delay: 2s;
    top: 40%;
}

.starsBanner span:nth-child(23){
    left: 69%;
    animation-delay: 5s;
    margin-top: 15%;
}

.starsBanner span:nth-child(24){
    left: 72%;
    animation-delay: 4s;
    top: 67%;
}

.starsBanner span:nth-child(25){
    left: 75%;
    animation-delay: 0.5s;
    top: 85%;
}

.starsBanner span:nth-child(26){
    left: 78%;
    animation-delay: 5s;
    top: 23%;
}

.starsBanner span:nth-child(27){
    left: 81%;
    animation-delay: 6s;
    top: 65%;
}

.starsBanner span:nth-child(28){
    left: 84%;
    animation-delay: 3.5s;
    top: 12%;
}

.starsBanner span:nth-child(29){
    left: 87%;
    animation-delay: 9s;
    top: 75%;
}

.starsBanner span:nth-child(30){
    left: 90%;
    animation-delay: 3s;
    top: 14%;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}